*{
    box-sizing: border-box;
}

/******************** Font faces ********************/
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: sen;
    src: url(../fonts//Sen-ExtraBold.ttf);
}


html{
    font-family: montserrat-regular;
}

body{
    font-size: 1rem;
    margin: 0;
}


/****************** helpers *******************/
.flex{
    display: flex;
}

.flex.space-between{
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

.flex.justify-center{
    justify-content: center;
}

.clean-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}




/******************* header *******************/
.main-header{
    background-color: #ff7f00;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

.main-nav a{
    color:white;
    text-decoration: none;
    width: 66px;
    height: 66px;
}

span{
    margin-left:10px;
    margin-right: 10px;
}

.separator{
    color:white;
}

.logo{
    color:white;
    font-family: sen;
    font-size: 30px;
}

.hamburger{
    display: none;
    height: 60px;
    width: 60px;
    color: white;
    font-size: 25px;
    background-color:  #ff7f00;
    border-radius: 5px;
    border: none;
}

.close-btn{
    display:none;
}

/******************** search ********************/

.search-box-input::placeholder{
    text-decoration-line: underline;
}

.search-box-input{
    margin:0;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 220px;
}

.search-keywords{
    margin-top: 20px;
    margin-bottom: 20px;
}

.keyword{
    color:black;
    cursor: pointer;
}


/******************** gallery images ********************/
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 60px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    grid-row: span 5;
    padding: 15px;
}

.img-container{
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 51px;
    padding-right: 51px;
}


/******************** canvas ********************/
.canvas, .editor {
    margin: 5px;
    padding: 5px;
    width: 90%;
}

.canvas {
    padding: 15px;
    padding-inline-end: 20px;

    width: 550px; 
    height: 550px;
}

.editor {
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;

    width: 550px; 
    height: 550px;
}

.text{
    flex-direction: column;
}

.style-text{
    flex-direction: column;
}

/********************* editor-btns *********************/
.editor-btns-img{
    width:60px;
    height: 60px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.btn{
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
    cursor: pointer;
    color:white;
    margin: 10px;
    text-decoration: none;
    font-family: montserrat-medium;
}

.share-btn{
    border: none;
    font-size: 16px;
}

.btn:hover{
    background-color: #cc6a08;
}

.text-edit-btns{
    margin-bottom: 20px;
}

input{
    width: 373px;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: transparent;
}

::placeholder{
    font-family: montserrat-regular;
    font-size: larger;
}

.font-choise{
    width: 218px;
    height: 60px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}   

.font-options{
    border: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: montserrat-regular;
}

.position-btns > *, .text-edit-btns > *, .font-color-btns > *{
    margin-left:5px;
    margin-right: 5px;
    padding: 10px;
}

.color-input{
    width: 60px;
}

.share-btn{
    text-decoration: none;
    font-family: montserrat-medium;
}

/******************* footer *******************/
.footer-container{
    flex-direction: column;
    height: 207px;
    background-color: #ff7f00;
}

small{
    color:white;
    font-size: 19px;
    font-family: montserrat-thin;
}


/******************** main-container ********************/
.main-container{
    background-color: #e3e3e3;
}


.screen{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(5, 5, 5, 0.5);
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    transition: opacity .8s;

}

.menu-open .screen{
    opacity: 1;
    visibility: visible;
}


/******************** media queries ********************/
@media screen and (max-width: 950px){
    .container{
        max-width: 800px;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 60px;
    }

    .canvas{
        width: 400px; 
        height: 400px;
    }

    .editor{
        width: 400px; 
        height: 400px;
    }

    .editor-btns-img{
        width:40px;
        height: 40px;
    }

    input{
        width: 250px;
    }

    .font-choise{
        width: 110px;
    }

    .color-input{
        width: 60px;
    }

    .stickers > *{
        width:40px;
        height:40px;
    }

    .keyword{
        margin-left: 0;
    }
}


@media screen and (max-width: 760px){
    .container{
        max-width: 700px;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 60px;
    }

    .canvas-container{
        flex-direction: column;
    }

    .hamburger{
        display: block;
    }

    .main-nav{
        position: fixed;
        top: 0;
        right:0;
        height:100vh;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        background-color: #ff7f00;
        z-index: 2;

        transform: translateX(100%); 
        transition: transform .3s;
    } 

    .menu-open .main-nav{
        transform:  translateX(0);
    }

    .separator{
        display:none;
    }

    .main-nav a{
        border-bottom: 1px solid rgb(73, 73, 73);
        height: 85px;
        width: 80vw;
        cursor: pointer;
        padding: 25px;
    }

    .search-container{
        flex-direction: column;
    }

}


@media screen and (max-width: 600px){
    .container{
        max-width: 550px;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 60px;
    }

    .search-keywords{
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
    }

    .canvas{
        width: 300px;
        height: 300px;
    }

}


